/* root */

:root {
  --primary-brand: #4D5AE5;
  --primary-text: #2E2F42;
  --address-normal: #434455;
  --secondary-text: #434455;
  --link-hover:#404BBF;
  --filter-button: #F4F4FD;
  --background-body: #fff;
  --hero-title: #fff;
  --background-header: #fff;
  --background-footer: #2E2F42;
  --background-hero: #2E2F42;
  --background-hero-button: #4D5AE5;
  --background-hero-button-hover: #404BBF;
  --filter-button-border: #E7E9FC;
  --footer-text: #F4F4FD;
  --cloud: #F4F4FD;


}

/* for body */

body {
  font-family: "roboto", sans-serif;
  color: var(--primary-text);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* General style */

.section{

}

.link{
  text-decoration: none;
  font-family: inherit;

   
}

.list{
  list-style: none;
}

.button{
  cursor: pointer;
  font-family: inherit;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  text-align: center;
  }

.text{
color: var(--secondary-text)
}


.heading3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.heading2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

/* end of general styles */


/* header */

.header{
 }

.header-item{

}

/* logo */

.header-logo{
  color: inherit;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.167;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.header-logo-web{
  color: var(--primary-brand);
}

.header-logo-studio{

}

/* Navigation and contact */

.header-navigation{

}

.header-navigation-list{

}

.header-navigation-item{

}

.header-navigation-link,
.header-contact-link{
  color: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.header-navigation-link:hover,
.header-navigation-link:focus,
.current-page,
.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--link-hover);  
}


.header-contact-list{
}

.header-contact-item{
  color: var(--address-normal);
}

.header-contact-link{
  color: var(--secondary-text);
  font-weight: 400;
 
}

/* end of navigation and contact */

/* end of header */

/* footer */

.footer{
  background-color: var(--background-footer);
  }
  
  .footer-logo{
    color: #F4F4FD;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.167;
    letter-spacing: 0.54px;
    text-transform: uppercase;
  }
  .footer-logo-web{
    color: var(--primary-brand);
  }
  
  .footer-logo-studio{
  }
  
  .footer-text{
    color: var(--footer-text, #F4F4FD);
  }
  
  /* end of footer */


/* main  - webstudio */

/* hero section */

.hero{
  background-color: var(--background-hero);
 
}

.hero-title{
  color: var(--hero-title);
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07143;
  letter-spacing: 1.12px;
}

.hero-button{
  color: var(--hero-title);
  background-color: var(--background-hero-button);
}

.hero-button:hover,
.hero-button:focus{
  background-color: var(--background-hero-button-hover);
 }

/* end of hero section */

/* feature section */

.feature{
  font-family: inherit;
  background-color: var(--background-header);
}

.feature-list{
}

.feature-item{
}

.feature-heading3{
}

.feature-text{
  color: var(--secondary-text);
}

/* end of feature */

/* what are we doing */

.what-are-we-doing{
}
.what-are-we-doing-heading2{
}
.what-are-we-doing-list{
}
.what-are-we-doing-item{
}

/* end of what are we doing */

/* our team */

.our-team{
  
}
.our-team-heading2{
 
}
.our-team-list{
  
}
.our-team-item{}
 
.our-team-heading3{

}
.our-team-text{
  color: var(--secondary-text);
}

/* end of our team */

/* end of main - webstudio */

/* main - portfolio */

/* filters */

.filters-and-project{
}

.filter-list{
}
.filter-item{
}

.filter-button{
  color: var(--primary-brand);
  background: var(--filter-button);
  border: 1px solid var(--filter-button-border);
}

.filter-button-all {
  color: var(--hero-title);
  background: var(--primary-brand);
  border: 1px solid var(--primary-brand);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--hero-title);
  background: var(--primary-brand);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
  border: 1px solid var(--primary-brand);
}

.filter-button-all:hover,
.filter-button-all:focus{
  background-color: var(--background-hero-button-hover)
}
.filter-button-website{}
.filter-button-app{}
.filter-button-design{}
.filter-button-marketing{}

/* end of filters */

/* projects */

.project-list{}
.project-item{}
.project-title{}

.project-description{
  color: inherit;
}
/* end of project*/

/* end of main - portfolio */



